@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto+Condensed&display=swap');
body{
    background: #FFF; 
}
*{
    box-sizing:border-box ;
    padding:0;
    margin:0;
}
a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}
ul li{
    list-style-type: none;
}
header{
    position: sticky;
    top:0;
}
.main{
    font-weight:bold;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    justify-content: space-between;
    align-items: center;
}
header .logo img{
    width: 28px;
    height: 27px;
}
header .logo a{
    font-family: Roboto;
    color: #545BE8;
    text-transform: lowercase;
}
.container{
    width:80%;
    margin:auto;
}
.navbar{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:16px;
}
.auth{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
gap:30px; 
}
.auth a{
    border:2px solid #545BE8;
    border-radius:10px;
    padding:10px 50px ;
}
.register{
    color: #FFF;
    background-color: #545BE8;
}

